/* style.css
 * This file provides css styles.
 */

body,html {
	/* background-color: #3b4b54; width : 100%; */
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: black;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.description {
	padding-left: 50px;
	padding-right: 25px;
	text-align: left;
	font-size: 1.2em;
	font-family: calibri;
	color: red;
}


table {
    table-layout: fixed;
	width: 95%;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;

}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}


#message {
    font-family: verdana;
    color: orange;
    font-size: 30px;
    text-align: center;
    
}

#heading {
    font-family: Arial;
    color: green;
    font-size: 40px;
    text-align: center;
    
}

#imagecss {
    position: relative;
    left: 100px;
    top: 100px;
}

#imagecsscell {
    width: 40%;
}